[user]
	name = Mykhailo Shevchuk
	email = {{ .email }}
[alias]
	lg = log --oneline --graph --decorate -20
	st = status -sb
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	amend = commit --amend --no-edit
	branches = branch -a --sort=-committerdate
	stash-all = stash save --include-untracked
[core]
	autocrlf = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
